thesis.acn
thesis.acr
thesis.alg
thesis.aux
thesis.bbl
thesis.blg
thesis.fdb_latexmk
thesis.fls
thesis.glg
thesis.glo
thesis.gls
thesis.ist
thesis.lof
thesis.loe
thesis.log
thesis.lot
thesis.out
thesis.pdf
thesis.toc
*.swp
